#root {
  max-width: 1560px;
  margin: 0;
  padding: 0;
}

.radial-gradient-custom {
  background: radial-gradient(ellipse at top, rgba(91, 99, 211, 0.08), transparent 40%);
}

.shadow-custom {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.inputShadow:focus {
  box-shadow: 0px 0px 5px 5px royalblue;
}

.chart-legend-text {
  fill: black; 
}

.dark .chart-legend-text {
  fill: #D1D5DB;
}


@keyframes shrinkGrow {
  0% {
    transform: scale(1); /* Start at original size */
  }
  50% {
    transform: scale(2); /* Shrink to 50% of original size */
  }
  100% {
    transform: scale(0.5); /* Grow back to original size */
  }
}

.shrink-animation {
  animation: shrinkGrow 2s forwards; /* 0.5s duration, forwards keeps the final state */
}

@keyframes shrinkGrow1 {
  0% {
    transform: scale(2.3); /* Start at original size */
  }
  50% {
    transform: scale(1); /* Shrink to 50% of original size */
  }
  100% {
    transform: scale(2.3); /* Grow back to original size */
  }
}

.shrink-animation1 {
  animation: shrinkGrow1 2s infinite ease-in-out; /* 2s for full shrink-grow cycle */
}

.hover-box {
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 12px;
  pointer-events: none; /* Prevents the hover box from interfering with the chart hover */
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}
